#main{
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}
#main-top-left{
height: 200px;
width: 200px;
background-color: #ccc;
display: flex;
justify-content: space-between;
}
#b1{
background-color: red;
}
#b2{
background-color: orange;
}
#main-top-right{
    height: 200px;
width: 200px;
    background-color: #e86f88;
}
#b3{
    background-color: steelblue;
    position: relative;
    top: 145px;
    }
#b4{
    background-color: coral;
    position: relative;
    left: 145px;
    bottom: 53px;
    }
#main-bottom-left{
    height: 200px;
width: 200px;
    background-color:  #79badb;
}
#b5{
    background-color: blue;
    position: relative;
    top: 0px;
    
    }
#b6{
    background-color: pink;
    position: relative;
    left: 145px;
    top:93px;
    
    }
#main-bottom-right{
    height: 200px;
width: 200px;
    background-color:#a2dbb1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
#b7{
    background-color: gray;
    
    }
#b8{
    background-color:red;    
    }
.small-box{
    height: 50px;
    width: 50px;
    border: 2px solid white;
}